---
---

@import "{{ site.theme }}";

footer p {
  margin: 0 0 0.1em;
}

footer p iframe {
    vertical-align: middle;
}

#banner { overflow: hidden; }

#banner #logo { background: url(../images/twitter_logo.svg); }
