---
---

@import "{{ site.theme }}";


#banner.button.nav {
  float: right;
  margin:0 45px 0 0;

  span {
    float:left;
    line-height:52px;
    font-size:90%;
    color:#9d7f0d;
    text-transform:uppercase;
    text-shadow:rgba(#fff, 0.2) 0 1px 0;
  }
}
