---
layout: default
ref: blog
lang: ru
---

<div class="home">
  <h1 class="page-heading">Блог</h1>
  <p class="rss-subscribe">Лента новостей <a href="{{ "/ru/rss.xml" | prepend: site.baseurl }}">RSS</a></p>
  <ul class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <li>
        <span class="post-meta">{% include date.html date=post.date %}{% if false %}{{ day }}{{ sup }} {{ month }} {{ year }}{{ post.date | date: "%d.%m.%Y" }}{% endif %}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>
