---
ref: blog
lang: ru
title: Блог
description: Блог фансайта книги Ника Моргана «JavaScript для детей»
---

<div class="home">
  <h1 class="page-heading">Блог</h1>
  <p class="rss-subscribe">Лента новостей <a href="{{ "/ru/rss.xml" | prepend: site.baseurl }}">RSS</a></p>
  <ul class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <li>
        <span class="post-meta">{% include rus_date.html date=post.date %}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>
